---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="HomePage">
		<section class="Hero">
			<h1>Albachuza Sneakers</h1>
		</section>
	</main>
</Layout>
